<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Nếu là yêu cầu vào thư mục api, hãy bỏ qua và để thư mục api tự xử lý
  RewriteCond %{REQUEST_URI} ^/api/ [NC]
  RewriteRule ^ - [L]

  # Các yêu cầu khác trỏ về index.html của Frontend
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>